*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.lein*
.nrepl*
.nrepl-port
.repl
classes
node_modules
out
pom.xml
pom.xml*
pom.xml.asc
!resources/public/index.html
target
package-lock.json
.cpcache
.shadow-cljs
resources/public/devcards/*
!resources/public/devcards/devcards.html
#!resources/public/js/main/main*.js
resources/public/js/main/*
!resources/public/js/main/main*.js
builds/
prn_debug.cljs
